/* h1 {
    color:blue;
    font-family: Arial;
    font-size: 60px;
}

p {
    color: red;
}

 div {
    color: green;
    font-family: fantasy;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    background-color: rgb(76, 0, 255)
} 


.chocolate {
    width: 600px;
    padding: 10px;
    border-width: 5px;
    border-style: dotted;
    border-color:  gray; 
     border: 5px solid grey; 
    box-sizing: border-box; 
    border-radius: 30px; 
    background-color: pink;
    text-align: center;
} */

.container-1{
 display: flex;
 /* align-items: flex-start;
 align-items: flex-end; */
 /* align-items: center; */
/* flex-direction: column; */

}

.container-2 {
    display: flex;
    /* justify-content: center; */
    /* justify-content: flex-start; */
    /* justify-content: flex-end; */
    /* justify-content: space-around; */
    justify-content: space-between;
}

.container-box {
    width: 10%;

}

.container-1 div, .container-2 div{
    border: 1px solid gray;
    padding:  10px;
}       

.box-1 {
  flex: 1;
  order: 1;
}

.box-2 {
   flex: 1;
   order: 2;
}

.box-3 {
  flex: 1;
  order: 3;
}